flow.json
[
    {
        "id": "c50bdbb6eb0e260f",
        "type": "tab",
        "label": "OneControl Discovery",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb920327d08a883c",
        "type": "tab",
        "label": "OneControl Monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9f66dc5fa777f146",
        "type": "tab",
        "label": "Tools",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcca67fcb2fccc9c",
        "type": "group",
        "z": "9f66dc5fa777f146",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a5b352842da14bfe",
            "df49f2692f813a05",
            "1cf02d4f34f234ab",
            "bdf3ba40ea0b3843",
            "4f3fde8110573dd7",
            "92e12b4afa712602"
        ],
        "x": 54,
        "y": 59,
        "w": 812,
        "h": 202
    },
    {
        "id": "025005e61d9b3452",
        "type": "group",
        "z": "bb920327d08a883c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "801598b9603f364b",
            "18576b22c4176f1e",
            "eda71aa6124078ae",
            "b757a57c67230dd5",
            "98b552de804ee78b",
            "7be244a4211b8a28",
            "62eaa19b0c8d2525",
            "d7fb4675bdfe0c90",
            "a4e74932f8770b2b",
            "2a16c9227b3f26db",
            "aaf8a05437cd9e05"
        ],
        "x": 34,
        "y": 119,
        "w": 1552,
        "h": 222
    },
    {
        "id": "7a393038e3db3158",
        "type": "group",
        "z": "bb920327d08a883c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "907996b0b461140e",
            "41be3bb617d3df44",
            "8ce72b31c128c00f",
            "7ed1bdb3089dcd07",
            "777f832193dad4aa",
            "9b5e3e58189f548a",
            "011efcbe27a462b9",
            "4005042e09d3a850",
            "5cd93c057374611b",
            "23941866a01cbfa5"
        ],
        "x": 34,
        "y": 419,
        "w": 1472,
        "h": 202
    },
    {
        "id": "748788628fc9e228",
        "type": "group",
        "z": "c50bdbb6eb0e260f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8c24c34cb53ef70d",
            "ae0a2a189456c044",
            "6699c2bab45aa088",
            "de0df0b410131adc"
        ],
        "x": 994,
        "y": 539,
        "w": 592,
        "h": 182
    },
    {
        "id": "24e09df3ddbb026d",
        "type": "group",
        "z": "c50bdbb6eb0e260f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2d22c484db4d7945",
            "caa784dedc1809e2",
            "5b46c79efb861f3a",
            "ad034e3f2575a36f",
            "3b7618d6f3a7d532",
            "d692915cebebe14a",
            "3e583b869a7bad20",
            "21dea09442862d6b",
            "ff9a01dc2acf5918",
            "e95a9c0c835409a3",
            "3b57a0b04c97c2f9",
            "7bcd9e4468e6d361"
        ],
        "x": 994,
        "y": 179,
        "w": 592,
        "h": 342
    },
    {
        "id": "68feab87354f1d61",
        "type": "group",
        "z": "c50bdbb6eb0e260f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d59d5beb9b079f9b",
            "3ac2ea3a7dd9206c",
            "0470b744eb613a4e",
            "f95eb29381c00120"
        ],
        "x": 994,
        "y": 19,
        "w": 592,
        "h": 142
    },
    {
        "id": "4410210f.6939c",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "87be282d69d7b8aa",
        "type": "split",
        "z": "c50bdbb6eb0e260f",
        "name": "Split Individual Channels",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "foo",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "23974660b27ac12a"
            ]
        ]
    },
    {
        "id": "88816b4327274c9b",
        "type": "join",
        "z": "c50bdbb6eb0e260f",
        "name": "Consolidate Channels",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "57a0616d96109054"
            ]
        ]
    },
    {
        "id": "57a0616d96109054",
        "type": "change",
        "z": "c50bdbb6eb0e260f",
        "name": "Reorganize Message",
        "rules": [
            {
                "t": "set",
                "p": "thing.channels",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "364b1694b4eef3eb",
                "e4ce1be955574704",
                "431eda926319b667"
            ]
        ]
    },
    {
        "id": "c2aa8eca6e21f8ec",
        "type": "inject",
        "z": "c50bdbb6eb0e260f",
        "name": "Click here to start process",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "00ac421edd66981a"
            ]
        ]
    },
    {
        "id": "a96006e3e93cf412",
        "type": "comment",
        "z": "c50bdbb6eb0e260f",
        "name": "PLEASE READ ME BEFORE RUNNING",
        "info": "Make sure you read and understand the settings in the \"Process Configuration\" before you run.\n\nNodes with an * at the end of their name include node-specific information in the Description tab of those nodes.  Please review.",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "364b1694b4eef3eb",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Build Node Diagnostic Entities",
        "func": "// This node generates sensors that contain the diagnostic values for the device (not the individual sensors)\n\nfunction capitolizeFirst(string) {\n var output = string.replace(/\\w\\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});\n return output;\n}\nmsg.payload = \"\"\n    for (const property in msg.thing.configuration) {\n        baseTopic  =                    global.get(\"mqttDiscoveryTopic\") + \"/sensor/\" + msg.thing.hass.UID_ha + \"/\" + property\n        msg.topic =  baseTopic + \"/config\"\n        \n        switch(property){\n            case \"deviceType\":\n                name = msg.thing.label + \" Device Type\"\n                break;\n            case \"deviceInstance\":\n                name = msg.thing.label + \" Device Instance\"\n                break;\n            case \"capability\":\n                name = msg.thing.label + \" Capability\"\n                break;\n            case \"productID\":\n                name = msg.thing.label + \" Product ID\"\n                break;\n            case \"functionName\":\n                name = msg.thing.label + \" Function Name\"\n                break;\n            case \"functionInstance\":\n                name = msg.thing.label + \" Function Instance\"\n                break;\n            case \"mac\":\n                name = msg.thing.label + \" MAC Address\"\n                break;\n            default:\n                name = property\n                break;\n        }\n    \n        msg.payload = {\n            \"name\":                 name,\n            \"object_id\":            global.get(\"namePrecursor\") + name,\n            \"unique_id\":            msg.thing.hass.UID_ha + \"_\" + property,\n            \"entity_category\":      \"diagnostic\",\n            \"state_topic\":          baseTopic + \"/state\",\n            \"availability\":         {\"topic\":                       msg.thing.hass.availabilityTopic,\n                                    \t\"payload_available\":        msg.thing.hass.availabilityTopicOn,\n                                    \t\"payload_not_available\":    msg.thing.hass.availabilityTopicOff,\n                                    \t\"value_template\":           \"{{ value_json.\" + msg.thing.hass.availabilityTopicAttr + \" }}\", \n                                        },\n            \"device\":               {\"manufacturer\":       global.get(\"manufacturer\"), \n                                        \"via_device\":       global.get(\"via_device\"),\n                                        \"identifiers\":      msg.thing.hass.UID_ha, \n                                        \"name\":             msg.thing.label, \n                                        \"model\":            global.get(\"model\") + \": \" + msg.thing.hass.UID_ha,\n                                        \"sw_version\":       global.get(\"sw_version\")\n                                    },\n\n            \"enabled_by_default\":   true\n            \n        } \n\n      node.send(msg)\n      // Send the default values from the config to the MQTT topic for the attribute above\n      msg1 = {}\n      msg1.topic = baseTopic + \"/state\"\n      msg1.payload = msg.thing.configuration[property]\n      node.send(msg1)\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "da434b7c210dc257"
            ]
        ]
    },
    {
        "id": "e4ce1be955574704",
        "type": "switch",
        "z": "c50bdbb6eb0e260f",
        "name": "Process Special Device Types",
        "property": "thing.hass.thingTypeUID_ha",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hvac",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "0979840712e08e50"
            ]
        ]
    },
    {
        "id": "0979840712e08e50",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Build HVAC Device",
        "func": "// ####################### Begin HVAC Device Configuration #######################\n// Home Assistant can use MQTT Discovery to create a HVAC (referred to as a climate entity).\n//   https://www.home-assistant.io/integrations/climate.mqtt/\n// Unlike the other entities, this entity will utilize several different mqtt topics from individual channels\n//   to form the Climate entity.\ni = msg.thing.UID.replace(/:/g,\"_\")\ni = i.replace(\"-\",\"_\")\n\ndiscoveryBaseTopic = global.get(\"mqttDiscoveryTopic\") + \"/climate/\" + msg.thing.hass.UID_ha + \"/hvac\"\nmsg.topic = discoveryBaseTopic + \"/config\"\n\nmsg.payload =   {\n                \"name\":                    msg.thing.label,\n                \"object_id\":                global.get(\"namePrecursor\") + msg.thing.label,\n                \"unique_id\":                i,\n                \"enabled_by_default\":       \"true\",\n                \"availability\":         {\"topic\":                      msg.thing.hass.availabilityTopic,\n                                        \"payload_available\":        msg.thing.hass.availabilityTopicOn,\n                            \t        \"payload_not_available\":    msg.thing.hass.availabilityTopicOff,\n                            \t        \"value_template\":           \"{{ value_json.\" + msg.thing.hass.availabilityTopicAttr + \" }}\", \n                                },\n                \"device\": {\n                    \"manufacturer\":                 global.get(\"manufacturer\"),\n                    \"via_device\":                   global.get(\"via_device\"),\n                    \"identifiers\":                  msg.thing.hass.UID_ha,\n                    \"name\":                         msg.thing.hass.label,\n                    \"model\":                        \"OneControl: \"+ msg.thing.hass.UID_ha,\n                    \"sw_version\":                   \"1.0\"\n                    },\n                \"action_topic\":                     \"smarthome/items/\"+i+\"_status/state\",\n                \"action_template\":                  \"{{ value_json.value }}\",\n                \"current_temperature_topic\":        \"smarthome/items/\"+i+\"_inside_temperature/state\",\n                \"current_temperature_template\":     \"{{ value_json.value }}\",\n                \"fan_mode_command_topic\":           \"smarthome/items/\"+i+\"_fan_mode/set\",\n                \"fan_mode_state_topic\":             \"smarthome/items/\"+i+\"_fan_mode/state\",\n                \"fan_mode_state_template\":          \"{{ value_json.value }}\",\n                \"fan_modes\":                        [\"auto\", \n        \t                                            \"low\", \n        \t                                            \"high\"],\n                \"hold_command_topic\":               \"smarthome/items/\"+i+\"_heat-source/set\",\n                \"hold_state_topic\":                 \"smarthome/items/\"+i+\"_heat-source/state\",\n                \"hold_state_template\":              \"{{ value_json.value }}\",\n                \"hold_modes\":                       [\"Prefer Heatpump\",\n                                                        \"Prefer Gas\"],\n        \t    \"mode_command_topic\":               \"smarthome/items/\"+i+\"_hvac_mode/set\",\n                \"mode_state_topic\":                 \"smarthome/items/\"+i+\"_hvac_mode/state\",\n            \t\"mode_state_template\":              \"{{ value_json.value }}\",\n            \t\"modes\":                            [\"heat\", \n            \t                                        \"cool\",\n            \t                                        \"heat_cool\",\n            \t                                        \"off\"],\n            \t\"min_temp\":                         45,\n            \t\"max_temp\":                         100,\n            \t\"precision\":                        1,\n            \t\"retain\":                           true,\n            \t\"temperature_high_command_topic\":   \"smarthome/items/\"+i+\"_high_temperature/set\",\n            \t\"temperature_high_state_topic\":     \"smarthome/items/\"+i+\"_high_temperature/state\",\n            \t\"temperature_high_state_template\":  \"{{ value_json.value }}\",\n            \t\"temperature_low_command_topic\":    \"smarthome/items/\"+i+\"_low_temperature/set\",\n            \t\"temperature_low_state_topic\":      \"smarthome/items/\"+i+\"_low_temperature/state\",\n            \t\"temperature_low_state_template\":   \"{{ value_json.value }}\",\n            \t\"temp_step\":                        1,\n    }\n\nnode.send(msg)\ndiscoveryBaseTopic = global.get(\"mqttDiscoveryTopic\") + \"/sensor/\" + msg.thing.hass.UID_ha + \"/device_mode\"\nmsg.topic = discoveryBaseTopic + \"/config\"\nmsg.payload =   {\n                \"name\":                    msg.thing.label + \" Device State\",\n                \"object_id\":                global.get(\"namePrecursor\") + msg.thing.label + \" Device State\",\n                \"unique_id\":                i + \"_device_state\",\n                \"enabled_by_default\":       \"true\",\n                \"availability\": {\n                \t\"topic\":                    msg.thing.hass.availabilityTopic,\n                \t\"payload_available\":        \"online\",\n                \t\"payload_not_available\":    \"offline\",\n                \t\"value_template\":           \"{{ value_json.status }}\", \n                },\n                \"device\": {\n                    \"manufacturer\":                 global.get(\"manufacturer\"),\n                    \"via_device\":                   global.get(\"via_device\"),\n                    \"identifiers\":                  msg.thing.hass.UID_ha,\n                    \"name\":                         msg.thing.hass.label,\n                    \"model\":                        \"OneControl: \"+ msg.thing.hass.UID_ha,\n                    \"sw_version\":                   \"1.0\"\n                    },\n                \"entity_category\":                  \"diagnostic\",\n                \"state_topic\":                     \"smarthome/items/\"+i+\"_status/state\",\n                \"value_template\":                  \"{{ value_json.value }}\"\n}\nnode.send(msg)\n/*\n\nmsg.payload.hass.attributes.topic = discoveryBaseTopic + \"/attributes\"\n\n*/\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "da434b7c210dc257"
            ]
        ]
    },
    {
        "id": "23974660b27ac12a",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Pre-Process Individual Channels",
        "func": "function capitolizeFirst(string) {\n var output = string.replace(/\\w\\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});\n return output;\n}\nvar msg1 = {}\nmsg1.debug = {}\nvar channel = {}\n\nchannelRaw =                msg.payload\n//msg.payload =               {}\nchannelUID =                channelRaw.uid.replace(\"idsmyrv:\",\"\")\nchannelUID =                channelUID.replace(\"-thing:\",\"_\")\nchannelUID =                channelUID.replace(/-/g,\"_\")\nchannelTypeUID =            channelRaw.channelTypeUID.replace(\"idsmyrv:\",\"\")\nchannelUID_ha =             channelRaw.uid.replace(/:/g,\"_\")\nchannelUID_ha =             channelUID_ha.replace(/-/g,\"_\")\n\nmsg.payload.hass = {}\n\nmsg.payload.hass = {\n    \"label_ha\":                     msg.thing.hass.label + \" \" + capitolizeFirst(channelRaw.id),\n    \"channelUID_oc\":                channelRaw.uid,\n    \"channelUID_ha\":                channelUID_ha,\n    \"id_oc\":                        channelRaw.id,\n    \"valueType_oc\":                 channelRaw.itemType.toLowerCase(),\n    \"channelType_ha\":               msg.thing.hass.thingTypeUID_ha +\":\"+channelRaw.id,\n    \"kind\":                         channelRaw.kind.toLowerCase(),\n    \"topicItemStateEvent\":          \"smarthome/items/\" + channelUID_ha + \"/state\",\n    \"topicThingStatusInfoEvent\":    \"smarthome/things/\" + msg.thing.UID + \"/status\",\n    \"topicItemStateChangedEvent\":   \"smarthome/items/\" + channelUID_ha + \"/statechanged\",\n    \"topicItemCommandEvent\":        \"smarthome/items/\" + channelUID_ha + \"/command\",\n    \"topicItemCommandSend\":         \"smarthome/items/\" + channelUID_ha + \"/set\"\n                            }  \n\n// Build base discovery content \n\n\nbasePayload =                       {\"name\":                    msg.payload.hass.label_ha,\n                                    \"object_id\":                global.get(\"namePrecursor\") + msg.payload.hass.label_ha,\n                                    \"unique_id\":                msg.payload.hass.channelUID_ha,\n                                    \"state_topic\":              msg.payload.hass.topicItemStateEvent,\n                                    \"value_template\":           \"{{ value_json.value }}\", \n                                    \"availability\": {\n                                    \t\"topic\":                    msg.thing.hass.availabilityTopic,\n                                    \t\"payload_available\":        msg.thing.hass.availabilityTopicOn,\n                                    \t\"payload_not_available\":    msg.thing.hass.availabilityTopicOff,\n                                    \t\"value_template\":           \"{{ value_json.\" + msg.thing.hass.availabilityTopicAttr + \" }}\", \n                                        },\n                                    \"device\": {\n                                        \"manufacturer\":         global.get(\"manufacturer\"),\n                                        \"via_device\":           global.get(\"via_device\"),\n                                        \"identifiers\":          msg.thing.hass.UID_ha,\n                                        \"name\":                 msg.thing.hass.label,\n                                        //\"connections\":          [[\"mac\", msg.thing.configuration.mac],[\"foo\",\"bar\"]],\n                                        \"model\":                global.get(\"model\") + \": \" + msg.thing.hass.UID_ha,\n                                        \"sw_version\":           global.get(\"sw_version\")\n                                        }\n    }\n\n\n//var channel = {} // Used to add entity-specific attributes to the payload\n\n//Set generic entity types based on OpenHab channel itemTypes \nswitch(msg.payload.hass.channelType_ha){\n    case \"light:dimmer\":\n        msg.payload.hass.entityType_ha = \"light\"\n        break;\n    case \"switched-light:switch\":\n        msg.payload.hass.entityType_ha = \"light\"\n        break;\n    default:\n        msg.payload.hass.entityType_ha = \"sensor\"\n        break;\n}\n\nmsg.payload.hass.discovery = {}\nmsg.payload.hass.attributes = {}\nmsg.payload.hass.discovery.payload = basePayload\nmsg.payload.hass.attributes.payload = msg.thing.configuration\nreturn [msg,msg]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 300,
        "wires": [
            [],
            [
                "8f32843966b2c3f1"
            ]
        ]
    },
    {
        "id": "8f32843966b2c3f1",
        "type": "switch",
        "z": "c50bdbb6eb0e260f",
        "name": "Exclude Special Devices",
        "property": "thing.hass.thingTypeUID_ha",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "rgb-light",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 340,
        "wires": [
            [],
            [
                "df00d25ee0f4d481"
            ]
        ]
    },
    {
        "id": "df00d25ee0f4d481",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Process Channels",
        "func": "addPayload = {}\n\nif (msg.payload.hass.channelType_ha.includes(\":\") === true ) {\n    channel = msg.payload.hass.channelType_ha.split(\":\")\n    channelType = channel[1]\n} else {\n    channel = msg.payload.hass.channelType_ha\n}\n\ndiscoveryPayload = msg.payload.hass.discovery.payload\n\n// Add device additional details as needed based on channel types\nif (channelType.includes(\"voltage\") === true ) {\n        addPayload = {\n            \"device_class\":                 \"voltage\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\nif (channelType.includes(\"current\") === true ) {\n        addPayload = {\n            \"device_class\":                 \"current\",\n            \"unit_of_measurement\":          \"A\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\nif (channelType.includes(\"dimmer\") === true ) {\n        baseTopic_oc = \"smarthome/items/\" + msg.payload.hass.channelUID_ha\n        baseName = msg.thing.hass.UID_oc.replace(/:/g,\"_\")\n        baseName = \"smarthome/items/\" + baseName.replace(/-/,\"_\")\n        delete msg.payload.hass.discovery.payload.value_template\n        \n        addPayload = {\n            \"state_topic\":                  baseName + \"_switch/state\",\n            \"command_topic\":                baseTopic_oc + \"/set\",\n            \"brightness_state_topic\":       baseName + \"_brightness/state\",\n            \"brightness_command_topic\":     baseTopic_oc + \"/set\",\n            \"payload_on\":                   \"on\",\n            \"payload_off\":                  \"off\",\n            \"brightness_scale\":             100,\n            \"on_command_type\":              \"last\",\n            \"qos\":                          0,\n            \"effect_state_topic\":           baseName + \"_mode/state\",\n            \"effect_command_topic\":         baseName + \"_mode/set\",\n            \"effect_list\":                  [\"off\",\"dimmer\",\"blink\",\"swell\"],\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\nif (channelType.includes(\"fault\") === true) {\n        msg.payload.hass.entityType_ha = \"binary_sensor\"\n        addPayload = {\n            \"device_class\":                 \"problem\",\n            \"payload_on\":                   \"on\",\n            \"payload_off\":                  \"off\",\n            \"entity_category\":              \"diagnostic\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\n\nif (msg.payload.hass.channelType_ha.includes(\"generator:command\") === true) {\n        msg.payload.hass.entityType_ha =    \"switch\"\n        msg.payload.hass.discovery.payload.name = \"Generator Switch\"\n        msg.payload.hass.discovery.payload.object_id = global.get(\"namePrecursor\") + msg.payload.hass.discovery.payload.name\n        addPayload = {\n            \"command_topic\":                msg.payload.hass.topicItemCommandSend,\n            \"payload_on\":                   \"on\",\n            \"payload_off\":                  \"off\",\n            \"state_on\":                     \"on\",\n            \"state_off\":                    \"off\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\nif (channelType.includes(\"output-disable\") === true) {\n        msg.payload.hass.entityType_ha = \"sensor\"\n        addPayload = {\n            \"entity_category\":              \"diagnostic\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\n\nif (channelType.includes(\"online\") === true ) {\n        msg.payload.hass.entityType_ha =        \"binary_sensor\"\n        addPayload = {\n            \"device_class\":                 \"connectivity\",\n            \"payload_on\":                   \"on\",\n            \"payload_off\":                  \"off\",\n            \"entity_category\":              \"diagnostic\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n    \nif (channelType.includes(\"output-disable-cause\") === true ) {\n        addPayload = {\n            \"entity_category\":              \"diagnostic\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n    \nif (channelType.includes(\"percent\") === true ) {\n    if (msg.payload.hass.id_oc == \"position\") {\n            addPayload = {\n                \"unit_of_measurement\":          '%',\n                \"value_template\":               '{{ (((value_json |float)/255)*100)|round(0) }}',\n                \"enabled_by_default\":           \"true\"\n                }\n            } else {\n                addPayload = {\n                \"enabled_by_default\":           \"true\"\n                }\n            }\n    }\n\nif (channelType.includes(\"sleep\") === true) {\n        msg.payload.hass.entityType_ha =        \"number\"\n        addPayload = {\n            \"command_topic\":                msg.payload.hass.topicItemCommandSend,\n            \"qos\":                          0,\n            \"unit_of_measurement\":          \"mins.\",\n            \"step\":                         1,\n            \"min\":                          0,\n            \"max\":                          120,\n            \"icon\":                         \"mdi:timer\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\nif (channelType.includes(\"switch\") === true &&\n    channelType.includes(\"switched-light\") != true) {\n        msg.payload.hass.entityType_ha =    \"switch\"\n        addPayload = {\n            \"command_topic\":                msg.payload.hass.topicItemCommandSend,\n            \"payload_on\":                   \"on\",\n            \"payload_off\":                  \"off\",\n            \"state_on\":                     \"on\",\n            \"state_off\":                    \"off\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n\nif (channelType.includes(\"switched-light\") === true) {\n        msg.payload.hass.entityType_ha =        \"light\"\n        addPayload = {\n            \"command_topic\":                msg.payload.hass.topicItemCommandSend,\n            \"payload_on\":                   \"on\",\n            \"payload_off\":                  \"off\",\n            \"state_on\":                     \"on\",\n            \"state_off\":                    \"off\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n    \nif (channelType.includes(\"tank-level\") === true ) {\n        addPayload = {\n            \"icon\":                         \"mdi:water-percent\",\n            \"unit_of_measurement\":          \"%\",\n            \"enabled_by_default\":           \"true\"\n                }\n    }\n\n\nif (channelType.includes(\"temperature\") === true && \n    channelType.includes(\"temperature-setpoints\") === false) {\n        addPayload = {\n            \"device_class\":                 \"temperature\",\n            \"unit_of_measurement\":          \"°F\",\n            \"enabled_by_default\":           \"true\"\n            }\n    }\n    \nif (channelType.includes(\"temperature-setpoints\") === true) {\n        addPayload = {\n            \"enabled_by_default\":           \"false\"\n            }\n    }\n    \n// These sensors are unknown in their purpose, so we create them, but do not enable them unless we want to.\nif (channelType.includes(\"time1\") === true || channelType.includes(\"time2\") === true ) {\n        addPayload = {\n            \"enabled_by_default\":           \"false\"\n                }\n    }\n\n    \ndiscoveryBaseTopic = global.get(\"mqttDiscoveryTopic\") + \"/\" + msg.payload.hass.entityType_ha + \"/\" + msg.thing.hass.UID_ha + \"/\" + msg.payload.hass.id_oc\nmsg.payload.hass.discovery.topic = discoveryBaseTopic + \"/config\"\nmsg.payload.hass.attributes.topic = discoveryBaseTopic + \"/attributes\"\nmsg.payload.hass.discovery.payload = {...discoveryPayload,...addPayload }\n\nmsg1 = {}\nmsg1.topic = msg.payload.hass.discovery.topic\nmsg1.payload = msg.payload.hass.discovery.payload\nreturn [msg1,msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "da434b7c210dc257"
            ],
            [
                "88816b4327274c9b"
            ]
        ]
    },
    {
        "id": "431eda926319b667",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Custom Sensors and Tools",
        "func": "// ####################### Begin Online Status Details sensor #######################\n// OneControl provides additional information in the availability messages published, and this informaion\n//   is very useful in diagnosing potential connection issues.\n// This sensor displays any additional status details if there are any to report\nname = msg.thing.label + \" Online Status Details\"\nproperty = \"online_status_details\"\nbaseTopic  =  global.get(\"mqttDiscoveryTopic\") + \"/sensor/\" + msg.thing.hass.UID_ha + \"/\" + property\nmsg.topic =  baseTopic + \"/config\"\n\nmsg.payload = {\n    \"name\":                 name,\n    \"object_id\":            global.get(\"namePrecursor\") + name,\n    \"unique_id\":            msg.thing.hass.UID_ha + \" \" + property,\n    \"entity_category\":      \"diagnostic\",\n    \"state_topic\":          msg.thing.hass.availabilityTopic,\n    \"value_template\":       \"{{ value_json.statusDetail }}\",\n    \"availability\":         {\"topic\":                      msg.thing.hass.availabilityTopic,\n                            \t\"payload_available\":        msg.thing.hass.availabilityTopicOn,\n                            \t\"payload_not_available\":    msg.thing.hass.availabilityTopicOff,\n                            \t\"value_template\":           \"{{ value_json.\" + msg.thing.hass.availabilityTopicAttr + \" }}\", \n                                },\n    \"device\":                {\"manufacturer\":       global.get(\"manufacturer\"), \n                                \"via_device\":       global.get(\"via_device\"),\n                                \"identifiers\":      msg.thing.hass.UID_ha, \n                                \"name\":             msg.thing.label, \n                                \"model\":            global.get(\"model\") + \": \" + msg.thing.hass.UID_ha,\n                                \"sw_version\":       global.get(\"sw_version\")\n                                },\n    \"enabled_by_default\":   true\n    } \nnode.send(msg)\n// ####################### End Online Status Details sensor #######################\n\n\n// ####################### Begin Startup Availability Message Publishing #######################\n// This section is used by the 'startupAvailMsg' option.  When this is set to true, this code will\n//   send a dummy available payload to trigger the availability for the entities created in this tool.\n if (global.get(\"mqttInitialAvail\") === true) {\n     msg.payload = '{\"status\":\"online\",\"statusDetail\":\"Initial Discovery\"}'\n     msg.topic = msg.thing.hass.availabilityTopic\n     msg.retain = true\n     node.send(msg)\n }\n // ####################### End Startup Availability Message Publishing #######################\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "da434b7c210dc257",
                "6c5e8f17a4ba5d70"
            ]
        ]
    },
    {
        "id": "8c24c34cb53ef70d",
        "type": "catch",
        "z": "c50bdbb6eb0e260f",
        "g": "748788628fc9e228",
        "name": "Capture Errors",
        "scope": null,
        "uncaught": false,
        "x": 1100,
        "y": 640,
        "wires": [
            [
                "ae0a2a189456c044",
                "6699c2bab45aa088"
            ]
        ]
    },
    {
        "id": "ae0a2a189456c044",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "g": "748788628fc9e228",
        "name": "Errors - Full Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 640,
        "wires": []
    },
    {
        "id": "6699c2bab45aa088",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "g": "748788628fc9e228",
        "name": "Errors - Just message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 680,
        "wires": []
    },
    {
        "id": "da434b7c210dc257",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Value Cleanup",
        "func": "function capitolizeFirst(string) {\n var output = string.replace(/\\w\\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});\n return output;\n}\n\nif (typeof msg.payload.name !== 'undefined') {\n    if (msg.payload.name.includes(\"-\") === true ){\n        msg.payload.name = msg.payload.name.replace(\"-\",\" \")\n         msg.payload.name = capitolizeFirst(msg.payload.name)\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 420,
        "wires": [
            [
                "ff9a01dc2acf5918",
                "d692915cebebe14a"
            ]
        ]
    },
    {
        "id": "d59d5beb9b079f9b",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "g": "68feab87354f1d61",
        "name": "Process Configuration",
        "func": "/**\n OneControl Auto Discovery into Home Assistant\n \n This process will integrate your Lippert OneControl components into Home Assistance\n\t(http://www.home-assistant.io)\n \n Use this file to set the bahavior of the process of pulling devices from the OneControl system\n*/\n\n\n// You can use this tool for many purposes, and if you are conservative in your approach, you would like to review \n//   the code before connecting it to your environment.\n// By default, the monitoring flow connects to the OneControl cloud gateway as soon as the flow is deployed.  This ensures\n//   that every time a change is made and deployed the connection to the event feed is re-established automatically.  A trigger\n//   node is available for manually kicking off the connection for manual control.\n//     default:\n//          eventsGetStream = true\neventsGetStream = false;\n\n// As this tool starts, it subscribes to the MQTT topics that are used for the processing of commands and events, \n//   and if a command is meant to be sent to OneControl, it will do so automatically.  If you are working to troubleshoot \n//   or review what is happening before sending it to OneControl, you will likely want to prevent this from occuring until you\n//   prepared for it to be done.\n// Note: This will disable the actual transmission to OneControl, but NOT the event processing.  This will allow you to see what would\n//   be sent if/once it is enabled.\n//     default:\n//          eventsSendStream = true\neventsSendStream = true;\n\n\n// When the information is pulled from the OneControl system, you have the option to write the information\n//   to files on the local system, as both YAML and JSON.  These can be used to help troubleshoot, or you can \n//   us the YAML output as the config files for Home Assistant. Set to \"true\" to have the output files written\n//   to disk.  If files exist, they will be overwritten.\n// ** NOTE ** These files are NOT needed for this process to work, and are for troubleshooting/stand alone use.\n//     default:\n//          filesCreate = false\nfilesCreate = true;\n\n// This is where you define the destination for the files if you are using the tool \n//     default: \n//          filesSaveTo = '/config/OneControl/'\nfilesSaveTo = '/config/OneControl/';\n\n// When files are saved, they are saved as YAML and JSON, but include the attributes needed for Discovery, and\n//   cannot be used for static YAML configuration without certain sections removed. Set this to true to remove\n//   the discovery-related sections.\n// ** NOTE ** \n// You will still need to use the \"OneControl - Command and Event Stream\" flow to process events to align with the \n//   MQTT topics that are part of the configuration files\n//     default:\n//          filesNoDiscovery = false\nfilesNoDiscovery = false;\n\n// If you do not want to send the configuration to the MQTT server, set this to \"false\"\n//     default: \n//          mqttPublish = false\nmqttPublish = true;\n\n// If you want to have MQTT discovery messages retained between restarts, set this option to \"true\"\n// If you do not set this to true, your Home Assistant OneControl entities will be in an error state until you\n//   run the discovery script again.  This is due to how Home Assistant stores entity information.\n//     default: \n//          mqttRetain = true\nmqttRetain = true;\n\n// When you initially create the entities in Home Assistant, it can take a long\n//   time before an availability message is published from OneControl, sometimes \n//   upwards of 30 minutes.  This is because OneControl publishes changes in real\n//   time, but non-change status messages much less frequently.  This can be frustrating\n//   when initially creating the entities.\n// Enable this setting to generate an \"online\" message when you do the initial \n//   installation, which will show the entitied as \"online\" immediately.  If the\n//   entities are truly offline, you will not be able to run the discovery process\n//   without an error, so enabling this is low (but not no) risk.  Please note\n//   that this will only occur once at the time the discovery process is run.\n// If you enable this, the device's \"Online Status Details\" sensor value will be\n//   'Initial Discovery' until OneControl publishes an official message.  It is not uncommon\n//   to see the online entity listed as \"Disconnected\" until this first message is received.\n//     default: \n//          mqttInitialAvail = true\nmqttInitialAvail = true;\n\n// Often when you make changes, you may need to remove all the entities created.\n//   This option will enable the process to remove all entities created in previous\n//   run AS LONG AS NO OTHER SETTINGS HAVE CHANGED (this depends on the deiscovery\n//   topic to be the same).\n//   Note: sendToMQTT must also be enabled\n//     default:\n//          mqttDeleteAll = false;\nmqttDeleteAll = false;\n\n// Home Assistant requires the definition of the topic used for discovery.  \n// For more info on what is needed, review the Home Assistant documentation here:\n//    https://www.home-assistant.io/docs/mqtt/discovery/\n// This value needs to match what is entered into your configuration.yaml file\n// configuration.yaml example:\n//     mqtt:\n//          discovery:          true\n//          discovery_prefix:   'homeassistant'\n//\n//     default:\n//          mqttDiscoveryTopic = 'homeassistant'\nmqttDiscoveryTopic = 'homeassistant';\n\n// Part of the discovery output is the definition of the manufacturer the component.\n//     default: \n//          manufacturer = 'Lippert Components'\nmanufacturer = 'Lippert Components';\n\n// Part of the discovery output is the definition of the device that is used to \n//   connect to the individual nodes.\n//     default:\n//          via_device = 'OneControl Gateway';\nvia_device = 'OneControl Gateway';\n\n// Part of the discovery output is the definition of the model the component.\n//     default:\n//          model = 'OneControl';\nmodel = 'OneControl';\n\n// when the Home Assistant entity is created, you can prepend this string to the\n//   entityID: 'sensor.example' would become 'sensor.namePresursor_example'\n//     default:\n//          namePrecursor= 'OneControl '\nnamePrecursor = 'OneControl ';\n\n\n\n/* ############ Do not change anything below this line ############ */\nRelease_Version = '2022.01.12a'\n\nglobal.set(\"eventsGetStream\",eventsGetStream);\nglobal.set(\"eventsSendStream\",eventsSendStream);\n\nglobal.set(\"filesCreate\",filesCreate);\nglobal.set(\"filesSaveTo\",filesSaveTo);\nglobal.set(\"filesNoDiscovery\",filesNoDiscovery);\n\nglobal.set(\"mqttPublish\",mqttPublish);\nglobal.set(\"mqttRetain\",mqttRetain);\nglobal.set(\"mqttDeleteAll\",mqttDeleteAll);\nglobal.set(\"mqttInitialAvail\",mqttInitialAvail);\n\n\nglobal.set(\"mqttDiscoveryTopic\",mqttDiscoveryTopic);\nglobal.set(\"sw_version\",Release_Version);\nglobal.set(\"manufacturer\",manufacturer);\nglobal.set(\"via_device\",via_device);\nglobal.set(\"model\",model);\nglobal.set(\"namePrecursor\",namePrecursor);\n\n\nreturn msg;\n/*\n * Copyright Robert Perciaccante\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n *\n**/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 120,
        "wires": [
            [
                "0470b744eb613a4e"
            ]
        ]
    },
    {
        "id": "3ac2ea3a7dd9206c",
        "type": "inject",
        "z": "c50bdbb6eb0e260f",
        "g": "68feab87354f1d61",
        "name": "Load Config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 1110,
        "y": 120,
        "wires": [
            [
                "d59d5beb9b079f9b"
            ]
        ]
    },
    {
        "id": "0470b744eb613a4e",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "g": "68feab87354f1d61",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 120,
        "wires": []
    },
    {
        "id": "de0df0b410131adc",
        "type": "comment",
        "z": "c50bdbb6eb0e260f",
        "g": "748788628fc9e228",
        "name": " Enable to see errors in the Degub pane",
        "info": "",
        "x": 1290,
        "y": 580,
        "wires": []
    },
    {
        "id": "2d22c484db4d7945",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 480,
        "wires": []
    },
    {
        "id": "caa784dedc1809e2",
        "type": "yaml",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "property": "payload",
        "name": "",
        "x": 1270,
        "y": 360,
        "wires": [
            [
                "3e583b869a7bad20"
            ]
        ]
    },
    {
        "id": "5b46c79efb861f3a",
        "type": "file",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1480,
        "y": 440,
        "wires": [
            [
                "2d22c484db4d7945"
            ]
        ]
    },
    {
        "id": "ad034e3f2575a36f",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "JSON Filename",
        "func": "msg.filename = msg.filename +\".json\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 400,
        "wires": [
            [
                "5b46c79efb861f3a"
            ]
        ]
    },
    {
        "id": "3b7618d6f3a7d532",
        "type": "json",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1270,
        "y": 400,
        "wires": [
            [
                "ad034e3f2575a36f"
            ]
        ]
    },
    {
        "id": "d692915cebebe14a",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "File Options",
        "func": "// Must be enable in the \"Set Flow Variables\" node\nif(msg.topic.includes(\"/config\") === true) {\n    if (global.get(\"filesCreate\") === true ) {\n        i = msg.topic.split(\"/\")\n        name = msg.payload.object_id.replace(/ /g,\"_\")\n        msg.filename = global.get(\"filesSaveTo\") + msg.payload.device.name + \"/\" + i[1] + \"/\" + msg.payload.name\n        if (global.get(\"filesNoDiscovery\") == true) {\n            delete msg.payload.device\n            delete msg.payload.enabled_by_default\n            }\n        return msg;\n        }\n    }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 400,
        "wires": [
            [
                "caa784dedc1809e2",
                "3b7618d6f3a7d532",
                "21dea09442862d6b"
            ]
        ]
    },
    {
        "id": "3e583b869a7bad20",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "YAML Filename",
        "func": "msg.filename = msg.filename +\".yaml\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 360,
        "wires": [
            [
                "5b46c79efb861f3a"
            ]
        ]
    },
    {
        "id": "21dea09442862d6b",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "ff9a01dc2acf5918",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "MQTT Options",
        "func": "if (global.get(\"mqttPublish\") == true) {\n    if (global.get(\"mqttDeleteAll\") == true) {\n        msg.payload = null\n        msg.retain = true\n        msg.qos=  1\n        }\n    if (global.get(\"mqttRetain\") == true) {\n        msg.retain = true\n        }\n    return msg;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 300,
        "wires": [
            [
                "e95a9c0c835409a3",
                "3b57a0b04c97c2f9"
            ]
        ]
    },
    {
        "id": "e95a9c0c835409a3",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 320,
        "wires": []
    },
    {
        "id": "3b57a0b04c97c2f9",
        "type": "mqtt out",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4410210f.6939c",
        "x": 1270,
        "y": 280,
        "wires": []
    },
    {
        "id": "7bcd9e4468e6d361",
        "type": "comment",
        "z": "c50bdbb6eb0e260f",
        "g": "24e09df3ddbb026d",
        "name": "Data Publishing",
        "info": "",
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "f95eb29381c00120",
        "type": "comment",
        "z": "c50bdbb6eb0e260f",
        "g": "68feab87354f1d61",
        "name": "Load Configuration Options for Process",
        "info": "",
        "x": 1270,
        "y": 60,
        "wires": []
    },
    {
        "id": "1fd597073555f234",
        "type": "http request",
        "z": "c50bdbb6eb0e260f",
        "name": "Get OneControl Components",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.4:8080/rest/things/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "87be282d69d7b8aa"
            ]
        ]
    },
    {
        "id": "00ac421edd66981a",
        "type": "function",
        "z": "c50bdbb6eb0e260f",
        "name": "Data - OneControl Entities",
        "func": "msg.payload = [\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Lower Accent Light\",\n        \"configuration\": {\n            \"deviceType\": 13,\n            \"deviceInstance\": 2,\n            \"capability\": 128,\n            \"productID\": 103,\n            \"functionName\": 144,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02\",\n        \"thingTypeUID\": \"idsmyrv:rgb-light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D02_online\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D02_hsvcolor\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02:hsvcolor\",\n                \"id\": \"hsvcolor\",\n                \"channelTypeUID\": \"idsmyrv:hsvcolor\",\n                \"itemType\": \"Color\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D02_mode\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:rgb-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D02_speed\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02:speed\",\n                \"id\": \"speed\",\n                \"channelTypeUID\": \"idsmyrv:time-interval-10ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D02_sleep\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D02_switch\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D02:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switched-light\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Flood Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 8,\n            \"capability\": 208,\n            \"productID\": 103,\n            \"functionName\": 8,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1408\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1408_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1408:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1408_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1408:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1408_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1408:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1408_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1408:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1408_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1408:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1408_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1408:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Kitchen Under Cabinet Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 2,\n            \"capability\": 208,\n            \"productID\": 103,\n            \"functionName\": 40,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1402\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1402_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1402:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1402_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1402:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1402_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1402:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1402_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1402:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1402_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1402:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1402_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1402:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Kitchen Chandelier Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 4,\n            \"capability\": 208,\n            \"productID\": 103,\n            \"functionName\": 39,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1404\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1404_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1404:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1404_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1404:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1404_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1404:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1404_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1404:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1404_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1404:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1404_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1404:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Black Tank 2\",\n        \"configuration\": {\n            \"deviceType\": 10,\n            \"deviceInstance\": 5,\n            \"capability\": 0,\n            \"productID\": 101,\n            \"functionName\": 69,\n            \"functionInstance\": 2,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:tank-sensor-thing:0000000DA7250A05\",\n        \"thingTypeUID\": \"idsmyrv:tank-sensor-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A05_online\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A05:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A05_tank_level\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A05:tank-level\",\n                \"id\": \"tank-level\",\n                \"channelTypeUID\": \"idsmyrv:level\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Awning Light\",\n        \"configuration\": {\n            \"deviceType\": 30,\n            \"deviceInstance\": 5,\n            \"capability\": 17,\n            \"productID\": 101,\n            \"functionName\": 49,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:switched-light-thing:0000000DA7251E05\",\n        \"thingTypeUID\": \"idsmyrv:switched-light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switched_light_thing_0000000DA7251E05_online\"\n                ],\n                \"uid\": \"idsmyrv:switched-light-thing:0000000DA7251E05:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switched_light_thing_0000000DA7251E05_switch\"\n                ],\n                \"uid\": \"idsmyrv:switched-light-thing:0000000DA7251E05:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switched-light\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Gas Water Heater\",\n        \"configuration\": {\n            \"deviceType\": 30,\n            \"deviceInstance\": 7,\n            \"capability\": 17,\n            \"productID\": 101,\n            \"functionName\": 3,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:switch-thing:0000000DA7251E07\",\n        \"thingTypeUID\": \"idsmyrv:switch-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_online\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_switch\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switch\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_output_disable\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:output-disable\",\n                \"id\": \"output-disable\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_percent\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:percent\",\n                \"id\": \"percent\",\n                \"channelTypeUID\": \"idsmyrv:position\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_current\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:current\",\n                \"id\": \"current\",\n                \"channelTypeUID\": \"idsmyrv:current-draw\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_output_disable_cause\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:output-disable-cause\",\n                \"id\": \"output-disable-cause\",\n                \"channelTypeUID\": \"idsmyrv:dtc-id\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E07_fault\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E07:fault\",\n                \"id\": \"fault\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"label\": \"Fault switch\",\n                \"description\": \"This switch trips when there is a fault.\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Water Pump\",\n        \"configuration\": {\n            \"deviceType\": 30,\n            \"deviceInstance\": 9,\n            \"capability\": 17,\n            \"productID\": 101,\n            \"functionName\": 5,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:switch-thing:0000000DA7251E09\",\n        \"thingTypeUID\": \"idsmyrv:switch-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_online\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_switch\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switch\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_output_disable\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:output-disable\",\n                \"id\": \"output-disable\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_percent\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:percent\",\n                \"id\": \"percent\",\n                \"channelTypeUID\": \"idsmyrv:position\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_current\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:current\",\n                \"id\": \"current\",\n                \"channelTypeUID\": \"idsmyrv:current-draw\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_output_disable_cause\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:output-disable-cause\",\n                \"id\": \"output-disable-cause\",\n                \"channelTypeUID\": \"idsmyrv:dtc-id\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E09_fault\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E09:fault\",\n                \"id\": \"fault\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"label\": \"Fault switch\",\n                \"description\": \"This switch trips when there is a fault.\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Porch Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 6,\n            \"capability\": 208,\n            \"productID\": 103,\n            \"functionName\": 48,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1406\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1406_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1406:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1406_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1406:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1406_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1406:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1406_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1406:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1406_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1406:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1406_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1406:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Water Tank Heater\",\n        \"configuration\": {\n            \"deviceType\": 30,\n            \"deviceInstance\": 11,\n            \"capability\": 17,\n            \"productID\": 101,\n            \"functionName\": 107,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:switch-thing:0000000DA7251E0B\",\n        \"thingTypeUID\": \"idsmyrv:switch-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_online\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_switch\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switch\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_output_disable\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:output-disable\",\n                \"id\": \"output-disable\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_percent\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:percent\",\n                \"id\": \"percent\",\n                \"channelTypeUID\": \"idsmyrv:position\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_current\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:current\",\n                \"id\": \"current\",\n                \"channelTypeUID\": \"idsmyrv:current-draw\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_output_disable_cause\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:output-disable-cause\",\n                \"id\": \"output-disable-cause\",\n                \"channelTypeUID\": \"idsmyrv:dtc-id\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E0B_fault\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E0B:fault\",\n                \"id\": \"fault\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"label\": \"Fault switch\",\n                \"description\": \"This switch trips when there is a fault.\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Black Tank\",\n        \"configuration\": {\n            \"deviceType\": 10,\n            \"deviceInstance\": 3,\n            \"capability\": 0,\n            \"productID\": 101,\n            \"functionName\": 69,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:tank-sensor-thing:0000000DA7250A03\",\n        \"thingTypeUID\": \"idsmyrv:tank-sensor-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A03_online\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A03:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A03_tank_level\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A03:tank-level\",\n                \"id\": \"tank-level\",\n                \"channelTypeUID\": \"idsmyrv:level\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Grey Tank 2\",\n        \"configuration\": {\n            \"deviceType\": 10,\n            \"deviceInstance\": 4,\n            \"capability\": 0,\n            \"productID\": 101,\n            \"functionName\": 68,\n            \"functionInstance\": 2,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:tank-sensor-thing:0000000DA7250A04\",\n        \"thingTypeUID\": \"idsmyrv:tank-sensor-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A04_online\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A04:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A04_tank_level\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A04:tank-level\",\n                \"id\": \"tank-level\",\n                \"channelTypeUID\": \"idsmyrv:level\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Accent Light\",\n        \"configuration\": {\n            \"deviceType\": 13,\n            \"deviceInstance\": 1,\n            \"capability\": 128,\n            \"productID\": 103,\n            \"functionName\": 220,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01\",\n        \"thingTypeUID\": \"idsmyrv:rgb-light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D01_online\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D01_hsvcolor\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01:hsvcolor\",\n                \"id\": \"hsvcolor\",\n                \"channelTypeUID\": \"idsmyrv:hsvcolor\",\n                \"itemType\": \"Color\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D01_mode\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:rgb-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D01_speed\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01:speed\",\n                \"id\": \"speed\",\n                \"channelTypeUID\": \"idsmyrv:time-interval-10ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D01_sleep\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_rgb_light_thing_0000000DA6BB0D01_switch\"\n                ],\n                \"uid\": \"idsmyrv:rgb-light-thing:0000000DA6BB0D01:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switched-light\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Kitchen Counter Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 3,\n            \"capability\": 208,\n            \"productID\": 103,\n            \"functionName\": 36,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1403\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1403_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1403:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1403_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1403:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1403_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1403:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1403_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1403:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1403_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1403:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1403_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1403:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Fuel Tank\",\n        \"configuration\": {\n            \"deviceType\": 10,\n            \"deviceInstance\": 9,\n            \"capability\": 1,\n            \"productID\": 101,\n            \"functionName\": 70,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:tank-sensor-thing:0000000DA7250A09\",\n        \"thingTypeUID\": \"idsmyrv:tank-sensor-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A09_online\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A09:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A09_tank_level\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A09:tank-level\",\n                \"id\": \"tank-level\",\n                \"channelTypeUID\": \"idsmyrv:level\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Garage Climate Zone\",\n        \"configuration\": {\n            \"deviceType\": 16,\n            \"deviceInstance\": 3,\n            \"capability\": 10,\n            \"productID\": 102,\n            \"functionName\": 194,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:27\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:hvac-thing:0000000DA7271003\",\n        \"thingTypeUID\": \"idsmyrv:hvac-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_online\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_status\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:status\",\n                \"id\": \"status\",\n                \"channelTypeUID\": \"idsmyrv:hvac-status\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"label\": \"HVAC Status\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_hvac_mode\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:hvac-mode\",\n                \"id\": \"hvac-mode\",\n                \"channelTypeUID\": \"idsmyrv:hvac-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_heat_source\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:heat-source\",\n                \"id\": \"heat-source\",\n                \"channelTypeUID\": \"idsmyrv:heat-source\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_fan_mode\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:fan-mode\",\n                \"id\": \"fan-mode\",\n                \"channelTypeUID\": \"idsmyrv:fan-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_high_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:high-temperature\",\n                \"id\": \"high-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature-control\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"High Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_low_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:low-temperature\",\n                \"id\": \"low-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature-control\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Low Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_inside_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:inside-temperature\",\n                \"id\": \"inside-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Inside Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271003_outside_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:outside-temperature\",\n                \"id\": \"outside-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Outside Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271003:temperature-setpoints\",\n                \"id\": \"temperature-setpoints\",\n                \"channelTypeUID\": \"idsmyrv:temperature-setpoints\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Generator\",\n        \"configuration\": {\n            \"deviceType\": 24,\n            \"deviceInstance\": 0,\n            \"capability\": 1,\n            \"productID\": 102,\n            \"functionName\": 95,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:27\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:generator-thing:0000000DA7271800\",\n        \"thingTypeUID\": \"idsmyrv:generator-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_generator_thing_0000000DA7271800_online\"\n                ],\n                \"uid\": \"idsmyrv:generator-thing:0000000DA7271800:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_generator_thing_0000000DA7271800_state\"\n                ],\n                \"uid\": \"idsmyrv:generator-thing:0000000DA7271800:state\",\n                \"id\": \"state\",\n                \"channelTypeUID\": \"idsmyrv:generator-state\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_generator_thing_0000000DA7271800_quiet_hours\"\n                ],\n                \"uid\": \"idsmyrv:generator-thing:0000000DA7271800:quiet-hours\",\n                \"id\": \"quiet-hours\",\n                \"channelTypeUID\": \"idsmyrv:generator-quiet-hours\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_generator_thing_0000000DA7271800_battery_voltage\"\n                ],\n                \"uid\": \"idsmyrv:generator-thing:0000000DA7271800:battery-voltage\",\n                \"id\": \"battery-voltage\",\n                \"channelTypeUID\": \"idsmyrv:generator-battery-voltage\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_generator_thing_0000000DA7271800_temperature\"\n                ],\n                \"uid\": \"idsmyrv:generator-thing:0000000DA7271800:temperature\",\n                \"id\": \"temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_generator_thing_0000000DA7271800_command\"\n                ],\n                \"uid\": \"idsmyrv:generator-thing:0000000DA7271800:command\",\n                \"id\": \"command\",\n                \"channelTypeUID\": \"idsmyrv:switch\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"label\": \"Start/Stop\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Main Climate Zone\",\n        \"configuration\": {\n            \"deviceType\": 16,\n            \"deviceInstance\": 1,\n            \"capability\": 15,\n            \"productID\": 102,\n            \"functionName\": 192,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:27\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:hvac-thing:0000000DA7271001\",\n        \"thingTypeUID\": \"idsmyrv:hvac-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_online\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_status\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:status\",\n                \"id\": \"status\",\n                \"channelTypeUID\": \"idsmyrv:hvac-status\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"label\": \"HVAC Status\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_hvac_mode\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:hvac-mode\",\n                \"id\": \"hvac-mode\",\n                \"channelTypeUID\": \"idsmyrv:hvac-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_heat_source\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:heat-source\",\n                \"id\": \"heat-source\",\n                \"channelTypeUID\": \"idsmyrv:heat-source\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_fan_mode\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:fan-mode\",\n                \"id\": \"fan-mode\",\n                \"channelTypeUID\": \"idsmyrv:fan-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_high_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:high-temperature\",\n                \"id\": \"high-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature-control\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"High Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_low_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:low-temperature\",\n                \"id\": \"low-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature-control\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Low Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_inside_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:inside-temperature\",\n                \"id\": \"inside-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Inside Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271001_outside_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:outside-temperature\",\n                \"id\": \"outside-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Outside Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271001:temperature-setpoints\",\n                \"id\": \"temperature-setpoints\",\n                \"channelTypeUID\": \"idsmyrv:temperature-setpoints\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Bedroom Climate Zone\",\n        \"configuration\": {\n            \"deviceType\": 16,\n            \"deviceInstance\": 2,\n            \"capability\": 10,\n            \"productID\": 102,\n            \"functionName\": 193,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:27\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:hvac-thing:0000000DA7271002\",\n        \"thingTypeUID\": \"idsmyrv:hvac-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_online\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_status\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:status\",\n                \"id\": \"status\",\n                \"channelTypeUID\": \"idsmyrv:hvac-status\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"label\": \"HVAC Status\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_hvac_mode\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:hvac-mode\",\n                \"id\": \"hvac-mode\",\n                \"channelTypeUID\": \"idsmyrv:hvac-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_heat_source\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:heat-source\",\n                \"id\": \"heat-source\",\n                \"channelTypeUID\": \"idsmyrv:heat-source\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_fan_mode\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:fan-mode\",\n                \"id\": \"fan-mode\",\n                \"channelTypeUID\": \"idsmyrv:fan-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_high_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:high-temperature\",\n                \"id\": \"high-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature-control\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"High Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_low_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:low-temperature\",\n                \"id\": \"low-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature-control\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Low Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_inside_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:inside-temperature\",\n                \"id\": \"inside-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Inside Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_hvac_thing_0000000DA7271002_outside_temperature\"\n                ],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:outside-temperature\",\n                \"id\": \"outside-temperature\",\n                \"channelTypeUID\": \"idsmyrv:temperature\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"label\": \"Outside Temperature\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [],\n                \"uid\": \"idsmyrv:hvac-thing:0000000DA7271002:temperature-setpoints\",\n                \"id\": \"temperature-setpoints\",\n                \"channelTypeUID\": \"idsmyrv:temperature-setpoints\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Fresh Tank\",\n        \"configuration\": {\n            \"deviceType\": 10,\n            \"deviceInstance\": 1,\n            \"capability\": 0,\n            \"productID\": 101,\n            \"functionName\": 67,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:tank-sensor-thing:0000000DA7250A01\",\n        \"thingTypeUID\": \"idsmyrv:tank-sensor-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A01_online\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A01:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A01_tank_level\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A01:tank-level\",\n                \"id\": \"tank-level\",\n                \"channelTypeUID\": \"idsmyrv:level\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Grey Tank\",\n        \"configuration\": {\n            \"deviceType\": 10,\n            \"deviceInstance\": 2,\n            \"capability\": 0,\n            \"productID\": 101,\n            \"functionName\": 68,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:tank-sensor-thing:0000000DA7250A02\",\n        \"thingTypeUID\": \"idsmyrv:tank-sensor-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A02_online\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A02:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_tank_sensor_thing_0000000DA7250A02_tank_level\"\n                ],\n                \"uid\": \"idsmyrv:tank-sensor-thing:0000000DA7250A02:tank-level\",\n                \"id\": \"tank-level\",\n                \"channelTypeUID\": \"idsmyrv:level\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Kitchen Ceiling Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 1,\n            \"capability\": 208,\n            \"productID\": 103,\n            \"functionName\": 32,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1401\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1401_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1401:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1401_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1401:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1401_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1401:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1401_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1401:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1401_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1401:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1401_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1401:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Electric Water Heater\",\n        \"configuration\": {\n            \"deviceType\": 30,\n            \"deviceInstance\": 8,\n            \"capability\": 17,\n            \"productID\": 101,\n            \"functionName\": 4,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A7:25\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:switch-thing:0000000DA7251E08\",\n        \"thingTypeUID\": \"idsmyrv:switch-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_online\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_switch\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:switch\",\n                \"id\": \"switch\",\n                \"channelTypeUID\": \"idsmyrv:switch\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_output_disable\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:output-disable\",\n                \"id\": \"output-disable\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_percent\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:percent\",\n                \"id\": \"percent\",\n                \"channelTypeUID\": \"idsmyrv:position\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_current\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:current\",\n                \"id\": \"current\",\n                \"channelTypeUID\": \"idsmyrv:current-draw\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_output_disable_cause\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:output-disable-cause\",\n                \"id\": \"output-disable-cause\",\n                \"channelTypeUID\": \"idsmyrv:dtc-id\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_switch_thing_0000000DA7251E08_fault\"\n                ],\n                \"uid\": \"idsmyrv:switch-thing:0000000DA7251E08:fault\",\n                \"id\": \"fault\",\n                \"channelTypeUID\": \"idsmyrv:fault\",\n                \"itemType\": \"Switch\",\n                \"kind\": \"STATE\",\n                \"label\": \"Fault switch\",\n                \"description\": \"This switch trips when there is a fault.\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"ONLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"Bunk Light\",\n        \"configuration\": {\n            \"deviceType\": 20,\n            \"deviceInstance\": 7,\n            \"capability\": 144,\n            \"productID\": 103,\n            \"functionName\": 180,\n            \"functionInstance\": 0,\n            \"mac\": \"00:00:00:0D:A6:BB\"\n        },\n        \"properties\": {},\n        \"UID\": \"idsmyrv:light-thing:0000000DA6BB1407\",\n        \"thingTypeUID\": \"idsmyrv:light-thing\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1407_online\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1407:online\",\n                \"id\": \"online\",\n                \"channelTypeUID\": \"idsmyrv:online\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1407_dimmer\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1407:dimmer\",\n                \"id\": \"dimmer\",\n                \"channelTypeUID\": \"idsmyrv:dimmer\",\n                \"itemType\": \"Dimmer\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1407_mode\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1407:mode\",\n                \"id\": \"mode\",\n                \"channelTypeUID\": \"idsmyrv:dimmer-mode\",\n                \"itemType\": \"String\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1407_time1\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1407:time1\",\n                \"id\": \"time1\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1407_time2\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1407:time2\",\n                \"id\": \"time2\",\n                \"channelTypeUID\": \"idsmyrv:time-ms\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_light_thing_0000000DA6BB1407_sleep\"\n                ],\n                \"uid\": \"idsmyrv:light-thing:0000000DA6BB1407:sleep\",\n                \"id\": \"sleep\",\n                \"channelTypeUID\": \"idsmyrv:sleep-min\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    },\n    {\n        \"statusInfo\": {\n            \"status\": \"OFFLINE\",\n            \"statusDetail\": \"NONE\"\n        },\n        \"editable\": true,\n        \"label\": \"OneControl Gateway Location Thing\",\n        \"configuration\": {},\n        \"properties\": {},\n        \"UID\": \"idsmyrv:location:ae8e5611576f\",\n        \"thingTypeUID\": \"idsmyrv:location\",\n        \"channels\": [\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_location_ae8e5611576f_location\"\n                ],\n                \"uid\": \"idsmyrv:location:ae8e5611576f:location\",\n                \"id\": \"location\",\n                \"channelTypeUID\": \"idsmyrv:location-channel\",\n                \"itemType\": \"Location\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_location_ae8e5611576f_accuracy\"\n                ],\n                \"uid\": \"idsmyrv:location:ae8e5611576f:accuracy\",\n                \"id\": \"accuracy\",\n                \"channelTypeUID\": \"idsmyrv:accuracy-channel\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_location_ae8e5611576f_speed\"\n                ],\n                \"uid\": \"idsmyrv:location:ae8e5611576f:speed\",\n                \"id\": \"speed\",\n                \"channelTypeUID\": \"idsmyrv:speed-channel\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            },\n            {\n                \"linkedItems\": [\n                    \"idsmyrv_location_ae8e5611576f_course\"\n                ],\n                \"uid\": \"idsmyrv:location:ae8e5611576f:course\",\n                \"id\": \"course\",\n                \"channelTypeUID\": \"idsmyrv:course-channel\",\n                \"itemType\": \"Number\",\n                \"kind\": \"STATE\",\n                \"defaultTags\": [],\n                \"properties\": {},\n                \"configuration\": {}\n            }\n        ]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "1fd597073555f234"
            ]
        ]
    },
    {
        "id": "6c5e8f17a4ba5d70",
        "type": "debug",
        "z": "c50bdbb6eb0e260f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "61717b5c993f4f78",
        "type": "inject",
        "z": "c50bdbb6eb0e260f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 80,
        "wires": [
            [
                "75cf13dc71f331e9"
            ]
        ]
    },
    {
        "id": "75cf13dc71f331e9",
        "type": "change",
        "z": "c50bdbb6eb0e260f",
        "name": "Delete All",
        "rules": [
            {
                "t": "set",
                "p": "mqttDeleteAll",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 80,
        "wires": [
            [
                "16711d383a5bf49b"
            ]
        ]
    },
    {
        "id": "8587bb85a6682c1f",
        "type": "link in",
        "z": "c50bdbb6eb0e260f",
        "name": "",
        "links": [
            "16711d383a5bf49b"
        ],
        "x": 45,
        "y": 60,
        "wires": [
            [
                "00ac421edd66981a"
            ]
        ]
    },
    {
        "id": "16711d383a5bf49b",
        "type": "link out",
        "z": "c50bdbb6eb0e260f",
        "name": "",
        "mode": "link",
        "links": [
            "8587bb85a6682c1f"
        ],
        "x": 895,
        "y": 80,
        "wires": []
    },
    {
        "id": "801598b9603f364b",
        "type": "inject",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Automatic Events Connection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "START",
        "payloadType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "2a16c9227b3f26db"
            ]
        ]
    },
    {
        "id": "02e8fcbaee8dd7fb",
        "type": "catch",
        "z": "bb920327d08a883c",
        "name": "Capture Errors",
        "scope": null,
        "uncaught": false,
        "x": 940,
        "y": 40,
        "wires": [
            [
                "4c0f2e6bafa8d07f",
                "626def55355b54d6"
            ]
        ]
    },
    {
        "id": "4c0f2e6bafa8d07f",
        "type": "debug",
        "z": "bb920327d08a883c",
        "name": "Errors - Full Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 40,
        "wires": []
    },
    {
        "id": "18576b22c4176f1e",
        "type": "rbe",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Block Repeat Messages",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "d7fb4675bdfe0c90"
            ]
        ]
    },
    {
        "id": "eda71aa6124078ae",
        "type": "sse-client",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Start Event Flow",
        "url": "http://192.168.1.4:8080/rest/events",
        "events": [],
        "headers": {},
        "proxy": "",
        "restart": true,
        "rejectUnauthorized": false,
        "withCredentials": false,
        "timeout": "30",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "98b552de804ee78b"
            ]
        ]
    },
    {
        "id": "b757a57c67230dd5",
        "type": "mqtt out",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "RV - Local",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4410210f.6939c",
        "x": 1490,
        "y": 240,
        "wires": []
    },
    {
        "id": "98b552de804ee78b",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Format Inbound Message",
        "func": "msg.payload = JSON.parse(msg.payload)\n//msg.payload.payload = JSON.parse(msg.payload.payload)\n\nmsg1 = {}\nmsg1.payload = JSON.parse(msg.payload.payload)\nmsg1.topic = msg.payload.topic\nmsg1.event = msg.event\nswitch(msg1.payload.type) {\n    case \"String\":\n        msg1.payload.value = msg1.payload.value.toLowerCase()\n        break;\n}\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "a4e74932f8770b2b"
            ]
        ]
    },
    {
        "id": "7be244a4211b8a28",
        "type": "comment",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "This section connects to the OneControl system and pulls down event and state change info and writes it to MQTT",
        "info": "",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "626def55355b54d6",
        "type": "debug",
        "z": "bb920327d08a883c",
        "name": "Errors - Just message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 80,
        "wires": []
    },
    {
        "id": "62eaa19b0c8d2525",
        "type": "debug",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 280,
        "wires": []
    },
    {
        "id": "d7fb4675bdfe0c90",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Data Format Conversions *",
        "func": "\n\n// ***** Reformat hvac_mode.  Openhab uses \"heatcool\", and Home Assistant uses \"heat_cool\"\nif (msg.topic.includes(\"idsmyrv_hvac_thing_\")  === true &&\n        msg.topic.includes(\"_hvac_mode/state\")  === true && \n        msg.payload.value.includes(\"heatcool\")  === true){\n        msg.payload.value = \"heat_cool\"\n    }\n\nif (msg.topic.includes(\"idsmyrv_hvac_thing_\")  === true &&\n        msg.topic.includes(\"_heat-source/state\")  === true ){ \n        switch(msg.payload.value) {\n            case \"HEATPUMP\":\n                msg.payload.value = \"Prefer Heatpump\"\n                break;\n            case \"GAS\":\n                msg.payload.value = \"Prefer Gas\"\n                break;\n            }\n        }\n        \n/*\n// OneControl uses HSV color codes for RGB light objects, but HA only knows HS.  This will get the \n//  brightness from OneControl, and save it as a flow variable.  When it is up dated by either HA or OneControl,\n//  it is appended to the HS value from HomeAssistant before being sent to OneControl\n if (msg.topic.includes(\"idsmyrv_rgb_light_thing_\")  === true &&\n        msg.topic.includes(\"_hsvcolor/state\")  === true && \n        msg.topic.includes(\"_hsvcolor/statechanged\")  === false && \n        msg.payload.type.includes(\"HSB\")  === true){\n            i = msg.topic.split(\"/\")\n            j = i[2].split(\"_\")\n            msg1 = {}\n            values = msg.payload.value.split(\",\")\n            msg1.payload = values[0]+\",\"+ values[1]\n            msg1.topic = msg.topic\n            msg1.i = j\n            node.send(msg1)\n            msg1.topic = \"smarthome/items/\" + j[0] +\"_\"+ j[1] +\"_\"+ j[2] +\"_\"+j[3] +\"_\"+j[4] +\"_dimmer/ha_state\"\n            msg1.payload = values[2]\n            node.send(msg1)\n            msg = null\n    }\n    */\nif (msg.topic.includes(\"smarthome/things/idsmyrv:\")  === true) {\n    msg.retain = true\n}\n\n// OneControl uses the same topic for the ON/OFF and brightness values for dimmable lights.  To make things cleaner \n//   on our interface, we will split the inbound values and copy them to separate state topics - brightness and switch.\n//   Home Assistant will read the values from these two topics but write to the topic expected by OneControl - dimmer.\n//     Example:\n//       1) Inbound message comes to 'smarthome/items/idsmyrv_light_thing_0000000DA6BB1407_dimmer/state'\n//          Typical payload looks like '{\"type\":\"Percent\",\"value\":\"61\"}' or '{\"type\":\"OnOff\",\"value\":\"off\"}''\n//       2) Node Red splits the contents based on whether the value is a \"type\" is \"Percent\" or \"OnOff\n//       3) \"Percent\" is sent to 'smarthome/items/idsmyrv_light_thing_0000000DA6BB1407_brightness/state'\n//       4) \"OnOff\" is sent to 'smarthome/items/idsmyrv_light_thing_0000000DA6BB1407_switch/state'\nif (msg.topic.includes(\"_dimmer/state\") === true ) {\n    msg1 = {}\n    msg1.payload = msg.payload.value\n    switch (msg.payload.type) {\n        case \"Percent\":\n            msg1.topic = msg.topic.replace(\"_dimmer\",\"_brightness\")\n            node.send(msg1)\n            break;\n        case \"OnOff\":\n            msg1.topic = msg.topic.replace(\"_dimmer\",\"_switch\")\n            node.send(msg1)\n            break;\n        }\n}\n/* \n// OneControl uses the same topic for the ON/OFF and status values for the generator swtich.  To prevent state errors \n//   in Home Assistant, we need to split off the non-OnOff messages to a seperate topic and then build a separate text sensor to \n//   display this information.\n\nif (msg.topic.includes(\"_command/state\") === true &&\n        msg.topic.includes(\"generator\") === true) {\n    msg1 = {}\n    if (msg.payload.type != \"OnOff\") {\n        msg1.topic= msg.topic.replace(\"_command\",\"_status\")\n        msg1.payload = msg.payload.value\n        node.send(msg1)\n    } else {\n        \n}\n*/\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "b757a57c67230dd5",
                "62eaa19b0c8d2525"
            ]
        ],
        "info": "This node is used to translate between the two platforms.  In come cases, values need to be in upper case, some lower case, and some different vlaues entirely."
    },
    {
        "id": "a4e74932f8770b2b",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Raw Data Format Conversions *",
        "func": "function roundNum0(i) {\n    i = Number(i)\n    i = i.toFixed(0)\n    i = Number(i)\n    return i\n}\n\nfunction roundNum1(i) {\n    i = Number(i)\n    i = i.toFixed(1)\n    i = Number(i)\n    return i\n}\n\n// Round amperage to .1\nif (msg.topic.includes(\"smarthome/items/idsmyrv_\")  === true &&\n        msg.topic.includes(\"_current/state\")  === true && \n        msg.payload.type.includes(\"Decimal\")  === true){\n    msg.payload.value = roundNum1(msg.payload.value)\n}\n\nif (msg.topic.includes(\"smarthome/items/idsmyrv_\")  === true &&\n        msg.topic.includes(\"statechanged\")  === true ) {\n            switch(msg.payload.type) {\n                case \"Decimal\":\n                    msg.payload.value = roundNum0(msg.payload.value)\n                    break;\n                case \"String\":\n                    msg.payload.value = msg.payload.value.toLowerCase()\n                    break;\n            }\n            switch(msg.payload.oldType) {\n                case \"Decimal\":\n                    msg.payload.oldValue = roundNum0(msg.payload.oldValue)\n                    break;\n                case \"String\":\n                    msg.payload.oldValue = msg.payload.oldValue.toLowerCase()\n                    break;\n            }\n        }\n\n\n\n// Round temperature to .0\nif (msg.topic.includes(\"smarthome/items/idsmyrv_\")  === true &&\n        msg.topic.includes(\"_temperature/state\")  === true && \n        msg.payload.type.includes(\"Decimal\")  === true){\n    msg.payload.value = roundNum0(msg.payload.value)\n}\n\n// Round HS values from HA\n\n\n// Force lowercase status modes\nif (msg.topic.includes(\"smarthome/things/idsmyrv:\")  === true &&\n        msg.topic.includes(\"/status\")  === true &&\n        msg.topic.includes(\"/statuschanged\")  === false) {\n    msg.payload.status = msg.payload.status.toLowerCase()\n    msg.payload.statusDetail = msg.payload.statusDetail.toLowerCase()\n}\n\nif (typeof(msg.payload.value) == \"string\") {\n    msg.payload.value = msg.payload.value.toLowerCase()\n}\n\n\nreturn msg;\n\n/*\n// Force lowercase statuschanged modes\nif (msg.topic.includes(\"smarthome/things/idsmyrv:\")  === true &&\n        msg.topic.includes(\"/statuschanged\")  === true &&\n        msg.payload.type.includes(\"String\")  === true ) {\n    msg.payload.value = msg.payload.value.toLowerCase()\n    if (msg.payload.oldType === \"String\") {\n       msg.payload.oldValue = msg.payload.oldValue.toLowerCase()\n }\n\nsmarthome/items/idsmyrv_hvac_thing_0000000DA7271001_hvac_mode/state\n\n\n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 260,
        "wires": [
            [
                "18576b22c4176f1e"
            ]
        ],
        "info": "This node is used to round decimal values down to reasonable sizes to minimize the number of state changes as well as \nthe number of MQTT messages that need to be processed.  It is also used to force certain values to lowercase which is needed for compatibility with Home Assistance"
    },
    {
        "id": "907996b0b461140e",
        "type": "mqtt in",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "OneControl MQTT SET messages",
        "topic": "smarthome/items/+/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "4410210f.6939c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "777f832193dad4aa"
            ]
        ]
    },
    {
        "id": "41be3bb617d3df44",
        "type": "http request",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "OneControl API Call",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "9b5e3e58189f548a"
            ]
        ]
    },
    {
        "id": "8ce72b31c128c00f",
        "type": "debug",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "200 Success",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 540,
        "wires": []
    },
    {
        "id": "7ed1bdb3089dcd07",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "Format Outbound Message",
        "func": "function roundNum0(i) {\n    i = Number(i)\n    i = i.toFixed(0)\n    i = Number(i)\n    return i\n}\n\nvar msg1 = {}\n\nmsg1.item = msg.topic.split(\"/\")\nmsg1.foo = typeof(msg.payload)\nmsg1.headers = {\"Content-Type\": \"text/plain\", \"Accept\": \"application/json\"}\nif (typeof(msg.payload) == \"string\") {\n    msg1.payload = msg.payload.toUpperCase()\n}\n\nif (typeof(msg.payload) == \"number\") {\n    msg1.payload = roundNum0(msg.payload)\n}\nmsg1.url = \"http://192.168.1.4:8080/rest/items/\"+ msg1.item[2]\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "5cd93c057374611b"
            ],
            [
                "23941866a01cbfa5"
            ]
        ]
    },
    {
        "id": "777f832193dad4aa",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "Outbound Data Format Conversions *",
        "func": "function roundNum0(i) {\n    i = Number(i)\n    i = i.toFixed(0)\n    i = Number(i)\n    return i\n}\n\n// ***** Reformat hvac_mode.  Openhab uses \"heatcool\", and Home Assistant uses \"heat_cool\"\nif (msg.topic.includes(\"/idsmyrv_hvac_thing_\")  === true &&\n        msg.topic.includes(\"_hvac_mode/state\")  === true && \n        msg.payload.includes(\"heat_cool\")  === true){\n        msg.payload= \"heatcool\"\n        }\n\nif (msg.topic.includes(\"idsmyrv_hvac_thing_\")  === true &&\n        msg.topic.includes(\"_heat-source/state\")  === true ){ \n        switch(msg.payload) {\n            case \"Prefer Heatpump\":\n                msg.payload = \"HEATPUMP\"\n                break;\n            case \"Prefer Gas\":\n                msg.payload = \"GAS\"\n                break;\n            }\n        }\n      \n\n// ***** Remove trailing zero from temp setting\nif (msg.topic.includes(\"/idsmyrv_hvac_thing_\")  === true &&\n        msg.topic.includes(\"_temperature/set\")  === true ){\n    msg.payload= roundNum0(msg.payload)\n}\n\nreturn msg;\n/*\n\n\nsmarthome/items/idsmyrv_hvac_thing_0000000DA7271001_hvac_mode/state\n\n\n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "7ed1bdb3089dcd07"
            ]
        ],
        "info": "This node is used to translate between the two platforms.  In come cases, values need to be in upper case, some lower case, and some different vlaues entirely."
    },
    {
        "id": "9b5e3e58189f548a",
        "type": "switch",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "HTTP Status Code",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 560,
        "wires": [
            [
                "8ce72b31c128c00f"
            ],
            [
                "011efcbe27a462b9"
            ]
        ]
    },
    {
        "id": "011efcbe27a462b9",
        "type": "debug",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "Others",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 580,
        "wires": []
    },
    {
        "id": "2a16c9227b3f26db",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Is Event Stream enabled?",
        "func": "if (global.get(\"eventsGetStream\") == true ) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "eda71aa6124078ae"
            ]
        ]
    },
    {
        "id": "aaf8a05437cd9e05",
        "type": "inject",
        "z": "bb920327d08a883c",
        "g": "025005e61d9b3452",
        "name": "Manual Events Connection",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "START",
        "payloadType": "str",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "eda71aa6124078ae"
            ]
        ]
    },
    {
        "id": "4005042e09d3a850",
        "type": "comment",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "This section connects to the local MQTT server and converts messages to commands and updates to OneControl",
        "info": "",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "5cd93c057374611b",
        "type": "debug",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "23941866a01cbfa5",
        "type": "function",
        "z": "bb920327d08a883c",
        "g": "7a393038e3db3158",
        "name": "Is Event Send enabled?",
        "func": "if (global.get(\"eventsSendStream\") == true ) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 560,
        "wires": [
            [
                "41be3bb617d3df44"
            ]
        ]
    },
    {
        "id": "a5b352842da14bfe",
        "type": "http request",
        "z": "9f66dc5fa777f146",
        "g": "dcca67fcb2fccc9c",
        "name": "Get List of Things",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.4:8080/rest/things/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "df49f2692f813a05",
                "92e12b4afa712602"
            ]
        ]
    },
    {
        "id": "df49f2692f813a05",
        "type": "debug",
        "z": "9f66dc5fa777f146",
        "g": "dcca67fcb2fccc9c",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "1cf02d4f34f234ab",
        "type": "inject",
        "z": "9f66dc5fa777f146",
        "g": "dcca67fcb2fccc9c",
        "name": "Trigger Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a5b352842da14bfe"
            ]
        ]
    },
    {
        "id": "bdf3ba40ea0b3843",
        "type": "file",
        "z": "9f66dc5fa777f146",
        "g": "dcca67fcb2fccc9c",
        "name": "Write to /config/OneControl_things.json",
        "filename": "/config/OneControl_things.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 680,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4f3fde8110573dd7",
        "type": "comment",
        "z": "9f66dc5fa777f146",
        "g": "dcca67fcb2fccc9c",
        "name": "This group will export your OneControl nodes to a local JSON file",
        "info": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "92e12b4afa712602",
        "type": "json",
        "z": "9f66dc5fa777f146",
        "g": "dcca67fcb2fccc9c",
        "name": "Format JSON Output",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "bdf3ba40ea0b3843"
            ]
        ]
    },
    {
        "id": "37cce3d2be7072db",
        "type": "catch",
        "z": "9f66dc5fa777f146",
        "name": "Capture Errors",
        "scope": null,
        "uncaught": false,
        "x": 1020,
        "y": 40,
        "wires": [
            [
                "0cc45d46b1f7707f",
                "32c6aa3cc38695c8"
            ]
        ]
    },
    {
        "id": "0cc45d46b1f7707f",
        "type": "debug",
        "z": "9f66dc5fa777f146",
        "name": "Errors - Full Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 40,
        "wires": []
    },
    {
        "id": "32c6aa3cc38695c8",
        "type": "debug",
        "z": "9f66dc5fa777f146",
        "name": "Errors - Just message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 80,
        "wires": []
    }
]